$black: #000;
$white: #FFFFFF;
$shadow-blue: #021616;
$dark-blue: #042525;
$mid-blue: #06454B;
$middle-blue: #08585E;
$gradient-blue: #007171;
$blue: #267D6D;
$light-blue: #18DCB8;
$bright-blue: #5fffe2;